@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.white{
    color: rgba(255, 255, 255, 1);
}

/* shared styles */

/* header css starts */
header{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid tomato;
    border-radius: 10px;
   background-image: url(../images/Banner\ Image.png);
    background-size: cover;
    background-position: center; 
   
}
.hero-title{
    font-size: 4.5rem;
    font-weight: 900;
   text-align: center;
   padding: 40px;

  
  
}
.hero-text{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  
   
   
}

/* header css ends */
/* main css */
/* deal css starts */
.deal{
    width: 800px;
    margin: 0 auto;
    border: 1px solid tomato;
    margin-top: 120px;
    padding: 20px;
}
.deal-title{
    font-size: 5.5rem;
    font-weight: 700;
    color: rgba(255, 0, 0, 1);
    text-align: center;
}
.deal-text{
    font-size: 1.5;
    font-weight: 500;
    color: rgba(255, 0, 0, 1);
    text-align: center;
}
.deal-all{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(7, 2, 17, 1);
    text-align: center;
    margin-bottom: 48px;
}


.img img{
    width: 100%;
}
/* deal css starts */

/* welcome css starts */
.welcome{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid tomato;
    border-radius: 16px;
    margin-top: 120px;
    margin-bottom: 114px;
    background-image: linear-gradient(20deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
}
.welcome-title{
    font-size: 4rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    margin-top: 30px;
}
.welcome-text{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    margin-top: 10px;
}
.join-now{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    margin-top: 10px;
}
.wel-img{
    width: 27%;
}

.wel-img img{
    width: 100%;
}
/* welcome css ends */

/* date css starts */
.date{
    width: 1200px;
    margin:  0 auto;
    border: 1px solid tomato;
    border-radius: 16px;
    background-image: linear-gradient(10deg, rgba(255, 0, 0, 0.39), rgba(255, 0, 0, 0));
    margin-bottom: 120px;
}
.date-title{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(7, 2, 17, 1);
    text-align: center;
}
.join-btn{
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    background-color: rgba(255, 0, 0, 1);
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
/* date css ends */

/* three container css starts */
.three-container{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid tomato;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    
}
.card{
    width: 100%;
    /* border: 2px solid green; */
    padding: 30px;
}
.egg img{
    width: 100%;
 
}
.circle{
    height: 350px;
    width: 350px;
    border: 10px solid red;
    border-radius: 5000px;
    display: block;
    margin: 0 auto;
    
}
/* three container css ends */

/* holiday css starts */
.holiday{
    width: 800px;
    margin:  0 auto;
    border: 1px solid tomato;
    margin-top: 120px;
}
.holiday-text{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(7, 2, 17, 1);
    text-align: center;
}
.holiday-title{
    font-size: 4.5rem;
    font-weight: 900;
    color: rgba(7, 2, 17, 1);
    text-align: center;
}
/* holiday css ends */

/* picture css starts */
.picture{
    width: 1200px;
    margin: 0 auto;
    margin-top: 64px;
    border: 1px solid tomato;
    margin-bottom: 120px;
    
}
.two-pic{
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
   background-position: bottom;
   border-radius: 30px;
   display: flex;

}
.two-pic img{
    width: 100%;
}


/* picture css ends */

/* best css starts */
.best{
    width: 1200px;
    border: 1px solid tomato;
    margin: 0 auto;
    margin-bottom: 120px;
}
.img-box{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.pic-card{
    /* border: 1px solid red; */
    width: 100%;
    padding: 10px;

}
.pic-card img{
    width: 100%;
    
}
/* best css ends */

/* subscribe css starts */
.subscribe{
    width: 1200px;
    border: 1px solid tomato;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: rgba(255, 0, 0, 0.05);

}
.subscribe img{
    display: block;
    margin: 0 auto;
}
.subscribe input{
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 350px;
    padding: 20px;
    margin-left: 350px;
 
}
.sub-btn{
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    padding: 15px 30px;
    background-color: rgba(255, 0, 0, 1);
  
}

/* subscribe css ends */

/* main css */